.mainimg3{
  width: 100px;
  height: 60px;
  margin-top: 40px;
}
.mainh6{
  margin-left: 20px;
  font-size: 14px;
}
.mainshadov11{
  background: #cbf7ee;
  text-align: center;
  min-height: 400px;
  max-height: 100%;
}
.h6lar{
  margin-top: 30px;
}