.category {
  display: inline-block;
  margin: 10px;
  text-align: center;
  margin-left: 45px;
  margin-top: 20px;
}
.category .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}
.fon{
  font-size: 14px;
}
.pteg{
  font-size: 17px;
}
.product{
  min-height: 390px;
  border: 40px;
}
.product img {
  max-height: 200px;
  object-fit: cover;
}
.category .icon img {
  width: 80%;
  height: auto;
}
.love{
  width: 30px;
  height: 30px;
  margin: right;
  left: 50px;
}

